#include<stdio.h>
#include<math.h>
int main(void)
{

	int num1, num2;
	char operation;

	printf("enter operator : ");
	scanf_s("%c", &operation);
	printf("enter num1:");
	scanf_s("%d", &num1);
	printf("enter num2:");
	scanf_s("%d", &num2);
	


	switch (operation)
	{
	case '+':
		 printf("%d + %d = %d", num1, num2, num1 + num2);
		break;
	case '-':
		printf("%d - %d = %d", num1, num2, num1 - num2);
		break;
	case '*':
		printf("%d * %d = %d", num1, num2, num1 * num2);
		break;
	case '/':
		printf("%d / %d = %d", num1, num2, num1 / num2);
		break;
	}
	

	return 0;
}
